# 忽略根目录的birespi文件夹

birespi/
venv/
# Compiled Python files
*.pyc``

# 忽略sounds目录下的的mp3文件

sounds/*.mp3
sound/*.mp3

# IDE files
.vscode/
.idea/

# Dependency directories
__pycache__/
dist/
build/

# config

config.json
tmp_test.py

# log

log/
*.log

